@import './variables';
@import '@{bootstrap-less}/normalize';

[ng-app="popup"] {
  width: @max-width;
  position: relative;
  overflow: hidden;
  color: @primary-font-color;

  input {
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
    color: @secondary-font-color;
    border: 1px solid @border-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;

    :focus {
      border-color: @active-color;
    }
  }

  button[type=submit], .button-submit {
    padding: 5px 15px;
    width: 100%;
    min-width: 100px;
    min-height: 30px;
    background-color: @tertiary-color;
    border: none;
    color: @tertiary-font-color;
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    &:hover:not([disabled]) {
      opacity: 0.8;
    }

    &[disabled] {
      background-color: @secondary-color;
      color: @secondary-font-color;
      cursor: default;
    }

    &.fixed-width {
      width: 100px;
    }
  }
}