@bootstrap-less: '../../node_modules/bootstrap/less';

@max-width: 175px;
@max-height: 200px;

@border-color: #cccccc;

@disabled-color: #eef2f7;
@hover-color: #f0f6fc;
@active-color: #e1edfa;

@primary-color: #bae1ff;
@secondary-color: #f7f7f7;
@tertiary-color: #688ee2;

@primary-font-color: #272727;
@secondary-font-color: #8c8c8c;
@tertiary-font-color: #ffffff;

@danger-light-color: #ffb3ba;
@warning-light-color: #ffffba;
@success-light-color: #baffc9;